div(id="docs-nav")
	h4(class="center") Homeworks
	ul
		li
			a(href="#" data-doc="hw1" class="doc-link") Homework 1
		li
			a(href="#" data-doc="hw2" class="doc-link") Homework 2

div(id="content")

script.
	require('./lib/doc-renderer')('hw1');
