div(id = "docs-nav")
	h4(style="text-align: center") Homeworks
	ul
		li
			a(href = "#" id = "hw1" class = "doc-link") Homework 1
		li
			a(href = "#" id = "hw2" class = "doc-link") Homework 2

div(id = "content")

script.
	require('./lib/doc-renderer')('hw1');
