div(id = "stuff-nav")
	h4(style="text-align: center") Projects
	ul
		li
			a(href = "#" id = "bachoco" class = "stuff-link") Bachoco

div(id = "content")

script.
	require('./lib/renderer')('bachoco');
