div(id = "docs-nav")
	h4(style="text-align: center") Projects
	ul
		li
			a(href = "#" id = "bachoco" class = "doc-link") Bachoco

div(id = "content")

script.
	require('./lib/doc-renderer')('bachoco');
